<div class="row my-3">
  <div class="col">
    <h2>
      Repositories
    </h2>
  </div>
  <div class="col text-right">
    <%= link_to "New", new_repository_path, class: "btn btn-success" %>
  </div>
</div>
<%= render "table" %>
