<table class="table" id="entries">
  <thead>
    <tr>
      <th>Date</th>
      <th>Message</th>
      <th class="text-center">Repository</th>
      <th class="text-center">Invoice</th>
      <th class="text-center">Type</th>
      <th class="text-center">Duration</th>
    </tr>
  </thead>
  <tbody>
    <%= render @entries %>
  </tbody>
</table>
