<%= render partial: "entries/form", collection: @entries, as: :entry %>

<table class="table table-hover table-sm" id="entries">
  <thead>
    <tr>
      <th>Data</th>
      <th>Opis</th>
      <th class="text-center">Projekt</th>
      <th class="text-center">Faktura</th>
      <th class="text-center">Typ</th>
      <th class="text-right">Liczba godzin</th>
    </tr>
  </thead>
  <tbody>
    <%= render @entries %>
  </tbody>
</table>
