<table class="table" id="entries">
  <thead>
    <tr>
      <th>Number</th>
      <th class="text-center">Period</th>
      <th class="text-right">Invoiced Hours</th>
      <th class="text-right">Logged Hours</th>
    </tr>
  </thead>
  <tbody>
    <%= render @invoices %>
  </tbody>
</table>
