<%= render "table" %>

<div class="text-right">
  <%= link_to "Dodaj fakturę", "javascript:void(0)", class: "btn btn-success", data: {toggle: "modal", target: "#new_invoice"} %>
</div>

<%= render "form", invoice: @invoice %>
