<div class="row my-3">
  <div class="col">
    <h2>
      Faktury
    </h2>
  </div>
</div>

<%= render "table" %>

<div class="text-right">
  <%= link_to "Nowa", "javascript:void(0)", class: "btn btn-success", data: {toggle: "modal", target: "#new_invoice"} %>
</div>

<%= render "form", invoice: @invoice %>
