<footer class="bg-dark text-light flex-shrink-0">
  <div class="container py-3">
    <div class="d-flex justify-content-between">
      <div>
        &copy; 2020 <a href="https://kubakuzma.com" target="_blank" class="text-light">Kuba Kuźma</a>
      </div>
    </div>
  </div>
</footer>
