<h1 class="text-center my-5">
  Utwórz ewidencję wymaganą do skorzystania z ulgi IPBOX
</h1>

<div class="row my-5">
  <div class="col text-center">
    <h2 class="mb-4">Import</h2>
    Błyskawicznie zaimportuj logi <strong>repozytoriów Git</strong> i <strong>kalendarze Google</strong>
  </div>
  <div class="col text-center">
    <h2 class="mb-4">Dodanie faktur</h2>
    Dodaj listę dokumentów księgowych podlegających uldze IP
    Box. Zaimportowane wpisy zostaną <strong>automatycznie przypisane</strong> do
    twoich faktur
  </div>
  <div class="col text-center">
    <h2 class="mb-4">Przegląd i edycja</h2>
    Przeglądaj i edytuj wpisy, pojedynczo lub grupowo. W prosty sposób zmieniaj <strong>typ aktywności</strong> poszczególnych wpisów
  </div>
</div>

<div class="text-center my-5 lead">
  Zobacz <strong><%= link_to "przykładową ewidencję", "/climate-watch.pdf" %></strong> IPBOX.
</div>
