<div class="text-center my-5">
  Utwórz ewidencję wymaganą do skorzystania z ulgi IP Box w trzech prostych krokach
</div>

<div class="row my-5">
  <div class="col text-center">
    <h1>1</h1>
    Błyskawicznie zaimportuj logi repozytoriów Git i kalendarze Google
  </div>
  <div class="col text-center">
    <h1>2</h1>
    Dodaj listę faktur podlegających uldze IP Box
  </div>
  <div class="col text-center">
    <h1>3</h1>
    Przeglądaj i edytuj wpisy, pojedynczo lub grupowo
  </div>
</div>

<div class="text-center my-5">
  Zobacz <%= link_to "przykładową dokumentację", "/climate-watch.pdf" %> utworzoną za pomocą aplikacji <%= link_to "IPBOX.app", root_path %>
</div>
