<article class="my-5">
  <h2 class="text-center">
    Regulamin aplikacji IPBOX.app
  </h2>

  <div class="tos">
    <ol>
      <li>
        Definicje
        <ol>
          <li>
            <em>Aplikacja</em> - aplikacja internetowa IPBOX.app, dostępna pod adresem <a href="https://ipbox.app/">https://ipbox.app/</a>.
          </li>
          <li>
            <em>Dostawca</em> - Jakub Kuźma, prowadzący działalność gospodarczą z siedzibą w Gliwicach, ul. Zygmunta Starego 8A/6, wpisaną do Centralnej Ewidencji i Informacji o Działalności Gospodarczej, numer identyfikacji podatkowej 549-218-06-18, adres e-mail: <a href="mailto:kuba@kubakuzma.com">kuba@kubakuzma.com</a>.
          </li>
          <li>
            <em>Użytkownik</em> - osoba fizyczna prowadząca działalność gospodarczą, korzystająca z aplikacji poprzez przeglądarkę internetową
          </li>
          <li>
            <em>Ewidencja</em> - dokumentacja mająca na celu wyodrębnienie kwalifikowanego dochodu IP od pozostałej działalności
          </li>
        </ol>
      </li>
      <li>
        Postanowienia ogólne
        <ol>
          <li>
            <em>Regulamin</em> określa zasady świadczenia przez <em>Dostawcę</em> na rzecz <em>Użytkowników</em> usług, które polegają na utworzeniu konta w <em>Aplikacji</em> i korzystaniu z możliwości udostępnionych za pośrednictwem <em>Aplikacji</em>, a zwłaszcza pomocy przy tworzeniu ewidencji kwalifikowanego dochodu IP w celu rozliczenia ulgi IP Box.
          </li>
          <li>
            Do korzystania z <em>Aplikacji</em> konieczne jest używanie aktualnej przeglądarki internetowej (Chrome 80+, Firefox 74+).
          </li>
          <li>
            Do prawidłowego korzystania z <em>Aplikacji</em> wymagane jest włączenie obsługi plików cookies w przeglądarce internetowej. Pliki cookies służą m.in. do utrzymania sesji <em>Użytkownika</em> po zalogowaniu.
          </li>
        </ol>
      </li>
      <li>
        Założenie konta i logowanie
        <ol>
          <li>
            W celu uzyskania dostępu do wszystkich funkcji <em>Aplikacji</em>, niezbędne jest założenie w niej konta użytkownika.
          </li>
          <li>
            Za założenie konta użytkownika pobierana jest jednorazowa opłata w wysokości 99 zł netto (121,77 zł z 23% podatkiem VAT).
          </li>
          <li>
            Opłata za założenie konta użytkownika jest pobierana z karty płatniczej, wprowadzonej przez <em>Użytkownika</em> podczas zakładania konta użytkownika, za pośrednictwem platformy Stripe.
          </li>
          <li>
            Po założeniu konta użytkownika wystawiana jest faktura, która jest wysyłana drogą elektroniczną na adres e-mail podany podczas zakładania konta użytkownika, w terminie do 7 dni od założenia konta.
          </li>
        </ol>
      </li>
      <li>
        Działanie aplikacji
        <ol>
          <li>
            <em>Użytkownik</em> po zalogowaniu się do <em>Aplikacji</em> ma możliwość zaimportowania logów repozytoriów Git i kalendarzy Google, dodania faktur podlegających uldze IP Box, przeglądania i edycji wpisów i podglądu <em>Ewidencji</em>.
          </li>
          <li>
            Po utworzeniu <em>Ewidencji</em> <em>Użytkownik</em> powinien wydrukować ją i dołączyć do faktur w celu wyodrębnienia z nich kwalifikowanego dochodu IP.
          </li>
          <li>
            <em>Dostawca</em> nie ponosi odpowiedzialności za błędy zawarte w <em>Ewidencji</em>.
          </li>
          <li>
            <em>Dostawca</em> zobowiązuje się umożliwić <em>Użytkownikowi</em> dostęp do aplikacji i danych <em>Użytkownika</em> przynajmniej do końca 2020 roku.
          </li>
        </ol>
      </li>
      <li>
        Dane osobowe
        <ol>
          <li>
            Zakłacając konto użytkownika, <em>Użytkownik</em> wyraża zgodę na przetwarzanie podanych przez niego danych osobowych w celu dostępu do <em>Aplikacji</em> i obsługi przez <em>Dostawcę</em>, który jest jednocześnie administratorem danych osobowych w rozumieniu przepisów ustawy z dnia 29 sierpnia 1997 roku o ochronie danych osobowych.
          </li>
          <li>
            Celem przetwarzania danych <em>Użytkownika</em> jest umożliwienie dostępu do <em>Aplikacji</em> i zawartych w niej danych <em>Użytkownika</em>.
          </li>
          <li>
            Podanie danych przez <em>Użytkownika</em> jest dobrowolne, ale jednocześnie konieczne do korzystania z <em>Aplikacji</em>. Niepodanie danych oznacza, że <em>Dostawca</em> nie będzie mógł świadczyć usługi.
          </li>
          <li>
            <em>Dostawca</em> może powierzyć przetwarzanie zebranych danych osobowych <em>Użytkowników</em> innemu podmiotowi na podstawie zawartej z nim umowy, w szczególności <em>Dostawca</em> powierza dane osobowe firmie Stripe, 510 Townsend Street, San Francisco, CA 94103, USA w celu przetwarzania płatności oraz spółce OVH Sp. z o.o.,  ul. Swobodna 1,  50-088 Wrocław w celu świadczenia usług hostingowych.
          </li>
          <li>
            Użytkownik ma prawo dostępu do swoich danych osobowych i może dokonać ich poprawienia.
          </li>
        </ol>
      </li>
      <li>
        Postanowienia końcowe
        <ol>
          <li>
            W sprawach nieuregulowanych w Regulaminie zastosowanie mają odpowiednie przepisy powszechnie obowiązującego prawa, w tym zwłaszcza Kodeksu cywilnego oraz ustawy o świadczeniu usług drogą elektroniczną.
          </li>
        </ol>
      </li>
    </ol>
  </div>
</article>
