<table class="table" id="projects">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th class="text-center">Liczba wpisów</th>
      <th class="text-right"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @projects %>
  </tbody>
</table>
