<table class="table" id="projects">
  <thead>
    <tr>
      <th>Name</th>
      <th class="text-center">Entries</th>
      <th class="text-right"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @projects %>
  </tbody>
</table>
