<%= render partial: "projects/form", collection: @projects, as: :project %>

<table class="table" id="projects">
  <thead>
    <tr>
      <th>
        Nazwa
        <span class="hover-only"><%= octicon "pencil" %></span>
      </th>
      <th class="text-center">
        Liczba wpisów
        <span class="hover-only"><%= octicon "pencil" %></span>
      </th>
      <th class="text-center">
        Liczba godzin
      </th>
      <th class="text-right"></th>
    </tr>
  </thead>
  <% if @projects.count > 0 %>
    <tbody>
      <%= render @projects %>
    </tbody>
  <% else %>
    <tr>
      <td colspan="3" class="text-center text-muted">Nie masz żadnych projektów</td>
    </tr>
  <% end %>
</table>
