<%= render "table" %>

<div class="text-right">
  <%= link_to "Dodaj projekt", "javascript:void(0)", class: "btn btn-success", data: {toggle: "modal", target: "#new_project"} %>
</div>

<%= render "form", project: @project %>
