@import "fonts";

$fa-font-path: "~font-awesome/fonts";
@import "font-awesome/scss/font-awesome";

$font-size-base: 0.9rem !default;
$font-family-base: 'Open Sans', sans-serif; // add this line first before importing bootstrap
$primary: #525f7f;

@import "~bootstrap/scss/bootstrap";

.hover-only {
    visibility: hidden;
}

:hover + .hover-only {
    visibility: visible;
}

html, body {
    height: 100%;
}

.tos {
    ol {
        counter-reset: item;
        padding: 0;
    }
    li {
        display: block;
    }

    li:before {
        content: counters(item, ".") ".";
        counter-increment: item;
    }
}
