@import "fonts";

$fa-font-path: "~font-awesome/fonts";
@import "font-awesome/scss/font-awesome";

$font-size-base: 1rem;
$font-family-base: 'Open Sans', sans-serif; // add this line first before importing bootstrap
$font-weight-base: 300;
$primary: rgb(29,78,111);

@import "~bootstrap/scss/bootstrap";

.hover-only {
    visibility: hidden;
}

:hover + .hover-only {
    visibility: visible;
}

html, body {
    height: 100%;
}

.tos {
    ol {
        counter-reset: item;
        padding: 0;
    }
    li {
        display: block;
    }

    li:before {
        content: counters(item, ".") ".";
        counter-increment: item;
    }
}

#home {
    background-image: url('../../assets/images/background.jpg');
    background-size: cover;

    @include media-breakpoint-up(lg) {
        height: 100%;
    }

    .overlay {
        background: rgba(29,78,111,.80);
    }

    h1 {
        font-size: 4rem;
    }
}
