@import "fonts";

$fa-font-path: "~font-awesome/fonts";
@import "font-awesome/scss/font-awesome";

$font-size-base: 1rem;
$font-family-base: 'Open Sans', sans-serif; // add this line first before importing bootstrap
$font-weight-base: 300;
$primary: rgb(29,78,111);

@import "~bootstrap/scss/bootstrap";

.hover-only {
    visibility: hidden;
}

:hover + .hover-only {
    visibility: visible;
}

html, body {
    height: 100%;
}
