<table class="table" id="entries">
  <thead>
    <tr>
      <th>Date</th>
      <th>Message</th>
      <th class="text-center">Type</th>
      <th class="text-center">Duration</th>
      <th class="text-right">Price</th>
    </tr>
  </thead>
  <tbody>
    <%= render @entries %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">
      </td>
      <td class="text-center">
        <%= @entries.sum(:duration) %>h
      </td>
      <td class="text-right">
        <%= number_to_currency(@entries.sum(:duration) * 62.5) %>
      </td>
    </tr>
  </tfoot>
</table>
